<div id="messageContainer">
  <div id="messageInfoContainer">

    <div id="dateContainer">
      <div id="date"><%= date %></div>
    </div>
  </div>
  <div id="usertextContainer">
    <div id="nameContainer">
      <div id="userName"style="color: <%= color %>;"><%= username %></div>
    </div>
    <div id="textContainer">
      <div id="text" ><%= message %></div>
      <div id="time">
        <div><%= time %></div>
      </div>
    </div>
  </div>
</div>